@model RetoTecnicoAjinomoto.Models.Tareas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tareas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEstadoTarea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEstadoTarea)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</p>
